@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter.tff) format('tff');
    font-weight: 100 900; 
    font-display: swap;
}